body {
    margin : 0;
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(/images/photo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}
.nav-menu li {

    
    font-size: 20px;
}
.nav-menu li a {
    text-decoration: none;
}
nav span {
    margin-left: 40px;
    font-size: 40px;
    font-family: 'Licorice', cursive;
}
nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
    align-items: center;
    background-color: white;
}
.media {
  
    margin-right: 15px;
    font-size: 20px;
    align-self: flex-start;
    
}
.media img {
    padding: 5px;
   
}

.text-presentation {
    display: flex;
    flex-direction:column;
    color: white;
    align-items: center;
    
    
}
.title-presentation {
    display: flex;
    flex-direction: column;
}
.lavoixla{
    font-size: 80px;
    font-family: 'Italiana', serif;
    letter-spacing: 20px;
    margin: 0;
}
.Qui {
align-self: flex-end;
margin: 0;
font-family: 'Dosis', sans-serif;
font-size:  20fpx;
}

.lavoixla span {
    letter-spacing: initial;
}
.media p {
    margin: 0;
    text-align: center;
}
.text-landing {
    width: 720px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}

.demos-button {
    border : 1px solid white;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    background-color: transparent;
    padding:  10px 25px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: 0.15s;
}
.demos-button:hover {
    
    background-color: white;
    color : black;
}