body {
    margin : 0;
}

.nav-menu {
    display: flex;
    list-style: none;
}
.nav-menu li {

    padding: 20px;
    font-size: 20px;
}
nav span {
    margin-left: 40px;
}
nav {
    display: flex;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
    align-items: center;
}
.media {
    margin-top: 15px;
    margin-right: 15px;
    font-size: 20px;
    align-self: flex-start;
    
}
.media img {
    padding: 5px;
   
}

