html {
    scroll-behavior: smooth;
}

body {
    margin : 0;
    
}

.scroll{
    background-color: rgb(240, 240, 240)!important;
    transition: 0.3s;
}


main {
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(/images/photo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    padding-top: 20vh;
    background-repeat: no-repeat;
    
    
}
a:visited {
    color: black;
}

.nav-menu {
    display: flex;
    
    list-style: none;
    gap: 20px;
    transition: max-height .2s ease-out;
    
}
.nav-menu li {

    color: black;
    font-size: 20px;
}
.nav-menu li a {
    text-decoration: none;
}
nav span {
    margin-left: 40px;
    font-size: 40px;
    font-family: 'Licorice', cursive;
}
.navigation {
    scroll-behavior:smooth;
    display: flex;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
    align-items: center;
    background-color: white;
    position: fixed;
    width: 100vw;
    z-index: 10;
    transition: 0.3s;
}
.media {
  
    margin-right: 15px;
    font-size: 20px;
    align-self: flex-start;
    
}
.media img {
    padding: 5px;
   
}

.text-presentation {
    display: flex;
    flex-direction:column;
    color: white;
    align-items: center;
    width: fit-content;
    margin-left: 200px;
    
    
}
.title-display{
    padding-top: 30px;
}

.title-presentation {
    display: flex;
    flex-direction: column;
}
.lavoixla{
    font-size: 80px;
    font-family: 'Italiana', serif;
    letter-spacing: 20px;
    margin: 0;
}
.Qui {
align-self: flex-end;
margin: 0;
font-family: 'Dosis', sans-serif;
font-size:  20fpx;
}

.lavoixla span {
    letter-spacing: initial;
}
.media p {
    margin: 0;
    text-align: center;
}
.text-landing {
    width: 720px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
}

.demos-button {
    border : 1px solid white;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    background-color: transparent;
    padding:  10px 25px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: 0.15s;
}
.demos-button:hover {
    
    background-color: white;
    color : black;
}
.test {
    display: flex;
    flex-direction: column;
}
.sectionTitle {
    font-size: 64px;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 0.2em;
    text-align: center;
  
    font-weight: 200;
}


.titleSection{
    font-size: 64px;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 0.2em;
    margin-bottom: 0px;
    font-weight: 200;
    text-align: center;

}
.left-title::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 40%;
    background-color: black;
    margin-right: 20px;
   
}
.title-contact::before{
    background-color: white!important;
}
.right-title {
    text-align:end;
    
    
}
.right-title::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 45%;
    background-color: black;
    margin-left: 20px;

}

.mini-title{
    font-family: 'Dosis', sans-serif;
    
    font-size: 30px;
    margin-top: 0px;
}
.aboutMe {
    width: 525px;
    height: 399px;
}
.main-About{
    margin: 100px 20px 0px 20px;
    display: flex;
    justify-content: space-around;
    padding:40px
}

.aboutMe-text{
    width :auto;
    max-width: 785px;
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Dosis', sans-serif;
    
}
.square {
    background-color: #363636;
    border-radius: 50px;
    padding: 10px 50px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1200px) {
    .main-About{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding-top: 20px;
    }
    .aboutMe {
        width: 400px;
       
        
    }
    .text-presentation{
        margin-left: 50vw;
        transform: translate(-50%);
    }
    .titleSection{
        font-size: 53px;
    }
    .mini-title{
        font-size: 25px;
    }
    .email{
        width: 350px;
        height: 350px;
        bottom: 30%!important;
    }
    .logo{
        height: 65px;
        width: 80px;
    }
  }


  @media screen and (max-width: 921px) {
    .main-About{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding-top: 20px;
        padding: 20px 0 40px 0;
    }
    .aboutMe {
        width: 300px;
        height: 300px;
    }
    .aboutMe-text {
        font-size: 20px;
    }
    .lavoixla{
        font-size: 60px;
        letter-spacing: 14px ;
    }
    .text-landing{
        font-size: 20px;
        width: 70vw;
    }
    .single-ref {
        margin-left: 5%!important;
    }
    .desc-ref{
        width: 85%!important;
    }
    .single-input input{
        width: 200px!important;
    }
    textarea{
        width: 450px;
    }
    
    
  }
  @media screen and (max-width: 600px) {
    .pipe{
        height: 150px!important;
    }
    .single-ref{
        margin-bottom: 30px!important;
    }
  }
  @media screen and (max-width: 529px) {
    .main-About{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding-top: 20px;
        padding: 20px 0 40px 0;
    }
    .aboutMe {
        width: 300px;
        height: 200px;
    }
    .aboutMe-text {
        font-size: 20px;
    }
  }
  @media screen and (max-width: 480px) {
    .main-About{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
        padding-top: 20px;
        padding: 20px 0 40px 0;
    }
    .aboutMe {
        display: none;
    }
    .aboutMe-text {
        font-size: 20px;
    }
    .square {
        padding: 15px;
    }
    .pipe{
        height: 200px!important;
    }
    .single-ref{
        margin-bottom: 60px!important;
    }
    .titleSection{
        font-size: 45px;
    }
    .mini-title{
        font-size: 20px;
    }
    .modal-btn{
        font-size: 20px!important;
    }
    .single-input input {
        width: 200px;
    }
    textarea{
        width: 250px!important;
        
    }
    .message-input {
        margin-left: 20%!important;
    }
    .btn-input{
        margin-left: 20px!important;
    }
  }

 
 

.carousel {
    padding: 20px;
    perspective: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.carousel > * {
    flex: 0 0 auto;
}
.carousel figure {
    margin: 0;
    width: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform-origin: 50% 50% -482.8427124746px;
}
.carousel figure .card {
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
    opacity: 0.9;
}
.carousel figure .card:not(:first-of-type) {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 50% 50% -482.8427124746px;
}
.carousel figure .card:nth-child(2) {
    transform: rotateY(0.7853981634rad);
}
.carousel figure .card:nth-child(3) {
    transform: rotateY(1.5707963268rad);
}
.carousel figure .card:nth-child(4) {
    transform: rotateY(2.3561944902rad);
}
.carousel figure .card:nth-child(5) {
    transform: rotateY(3.1415926536rad);
}
.carousel figure .card:nth-child(6) {
    transform: rotateY(3.926990817rad);
}
.carousel figure .card:nth-child(7) {
    transform: rotateY(4.7123889804rad);
}
.carousel figure .card:nth-child(8) {
    transform: rotateY(5.4977871438rad);
}
.carousel nav {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
    
}
.carousel nav button {
    flex: 0 0 auto;
    margin: 0 20px;
    cursor: pointer;
    color: #333;
    background: none;
    border: 1px solid;
    letter-spacing: 1px;
    padding: 10px 15px;
}

.card {
    display: flex;
    flex-direction: column;
}
.card p{
    text-align: center;
    position: relative;
}

.title-card{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-bottom: solid 1px black;
}



/* REFERENCES */
.pipe{
    height: 80px;
    width: 2px;
    background-color: black;
}
.single-ref{
    display: flex;
    margin-left: 10%;
}
.single-ref:nth-child(odd){
    margin-left: 15%;
}
.company{
    margin-bottom: 8px;
    font-family: 'Dosis', sans-serif;
    width: 120px;

}
.name-associate {
    margin-top: 8px;
    font-family: 'Great Vibes', cursive;
}
.desc-ref{
    width:50%;
    text-align:start;
    margin-left:20px;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
}
.left-side{
    margin-right: 20px;
}

.modal-btn {
    padding: 10px 14px;
    font-size: 30px;
    margin: 50px auto;
    display: block;
    width: 50%;
    cursor: pointer;
    border: solid 1px black;
    background-color: transparent;
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
    
  }
  #modalTitle{
    font-family: 'Dosis', sans-serif;
    font-weight: 600;
  }
 
  
  .modal-container {
    /* display: none; */
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: visibility 0.4s;
    z-index: 20;
  }
  .modal-container.active {
    /* display: block; */
    visibility: visible;
  }
  
  .overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
  }
  .modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  
  .modal {
    opacity: 0;
    width: 95%;
    max-width: 60%;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
    
  }
  
  .modal-container.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
  }
  
  .close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #ff365e;
    color: #fff;
  }
  .modal h1 {
    margin-bottom: 10px;
   
  }
  .modal p {
    line-height: 1.4;
    margin-bottom: 5px;
  }

  .formation{
      text-decoration: none;
      list-style: none;
      font-family: 'roboto', sans-serif;
      font-weight: 500;
      font-size: 20px;
  }
  .formation-info{
      font-family: 'great vibes', cursive;
  }
  .single-formation {
      padding:15px;
  }
  .single-formation::before{
      content:"- | ";
  }
/*CAROUSEL REF*/
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 90vw;
    margin-top: 100px;
    margin-bottom: 50px;
    
  }

  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }
  .slide{
      padding-right: 50px;
  }

  /* CONTACT */

  .contact-title {
      color:white;
  }
  
  form {
      margin-top: 100px;
      font-family: 'Italiana', serif;
      font-size: 24px;
      margin-left: 20%;
  }
  .first-part-form{
      display: flex;

      max-width: 50%;
      
      justify-content: space-between;
  }
  .single-input{
      display: flex;
      flex-direction: column;
      padding:10px;
      
  }
  .single-input label{
      padding-bottom: 2px;
      color: white;
      margin-left: 5px;
      

  }
  .single-input input{
      height: 30px;
      border-radius: 30px;
      width: 250px ;
     
  }
  .single-input input:focus{
    outline: none;
   text-align:center ;
    
}
  .single-input input::placeholder{
    padding-left: 10px;
}
.message-input{
   
    padding:10px;
    display: flex;
    flex-direction: column;
    color:white;
    margin-top: 40px;
}
.message-input label {
    margin-left: 5px;
}
textarea{
    height: 200px;
    border-radius: 30px;
    width: 600px;
}
textarea::placeholder{
    padding-left: 10px;
    
}

textarea:focus{
    outline: none;
    padding-left: 20px;
    padding-top: 5px;
}
 

  .contact{
    background-color: #202020;
    background-repeat: no-repeat;
    
    width: 75%;
    
    position: relative;
  }
  .contact-paraph{
      max-width: 55%;
      color: white;
      font-family: 'dosis', sans-serif;
      text-align: center;
      transform: translate(40%,50%);
      font-size: 20px;

      
  }

  .btn-input{
      width:200px;
      margin-left: 20%;
      margin-top: 30px;
  }
  
  .email{
      position: absolute;
      left: 80%;
  bottom: 20%;
  }
  
/* MENU NAV BURGER  */

input[type='checkbox'] {
 display: none;
}
.item-nav {
    width: 20px;
    height: 2px;
    margin: 5px;
    background-color: black;
    transition: 0.3s;
}

nav label{
    cursor: pointer;
    display:none;
}
.toggle-burger:nth-child(odd){
    transform: rotate(45deg);
    margin-top: 10px;
}
.toggle-burger:nth-child(even){
    transform: rotate(-45deg);
    position: absolute;
    margin-top: 10px;
}
.toggle-burger:nth-child(1){
    display: none;
}
@media screen and (max-width: 921px) {

  
    .media {
       display: none;
    }
    nav label {
        margin-top: 10px;
        margin-right: 15px;
        display: block;
        order:1;
        
    }
    .nav-menu {
        flex-direction: column;
        display: none;
        text-align: center;
        
        
    }
    .nav-menu li {
        
        padding: 10px 30px;
        border: solid 1px black;
    }
    #burger:checked + .nav-menu {
        display:flex;
        align-self: center;
        margin-top: 50px;
        
        z-index: 3;
        
    }
    
    
    .navigation{
        align-items: flex-start;
        z-index: 3;
    }
  

}

@media screen and (max-width: 1100px) {

    .email{
       display: none;
    }
    .contact{
        width: 100%;
    }
    form {
       
    }
  }

  @media screen and (max-width: 765px) {

   
   
    form {
       margin-left: 15%;
       margin-top: 70px;
    }
  }

  @media screen and (max-width: 665px) {

    .first-part-form{
        flex-wrap: wrap;
    }
    .single-input{
        margin-left: 50%;
    }
    .single-input label {
        font-size: 18px;
    }
    .message-input label {
        font-size: 18px;
    }
    .message-input textarea {

        height: 100px;
        width: 400px;
    }
    .contact-paraph{
        max-width: 70%;
        transform: translate(30%,50%);
        font-size: 18px;
    }
    form {
        margin-top: 50px;
    }
    .message-input {
        margin-top: 20px;
    }
}

@media screen and (max-width: 550px) {

    .contact-paraph{
        
        transform: translate(20%,50%);
        font-size: 17px;
    }
    form{
        margin-left: 0px!important;
    }
    .message-input {
        margin-left: 30px;
    }

}